<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Text</th>
      <th>Commentable</th>
      <th>Commentable type</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.created_by %></td>
        <td><%= comment.updated_by %></td>
        <td><%= comment.text %></td>
        <td><%= comment.commentable_id %></td>
        <td><%= comment.commentable_type %></td>
        <td><%= comment.created_at %></td>
        <td><%= comment.updated_at %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
