<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @comment.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @comment.updated_by %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable_id %>
</p>

<p>
  <strong>Commentable type:</strong>
  <%= @comment.commentable_type %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @comment.updated_at %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
