<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Created by</th>
      <th>Updated by</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Nick name</th>
      <th>Image</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_by %></td>
        <td><%= user.updated_by %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.nick_name %></td>
        <td><%= user.image %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
